@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
#edit{
    background-color: rgba(238, 238, 10, 0.911);
    font-family: 'Playfair Display', serif;
   

}
#dell{
    background-color: rgba(231, 10, 10, 0.781);
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
}